appdirs
beautifulsoup4
bokeh
certifi
cfgv
chardet
click
distlib
filelock
futures
identify
idna
importlib-metadata
importlib-resources
joblib
jupyter
jupyterlab
lxml
matplotlib
nodeenv
numpy
oauthlib
packaging
pandas
Pillow
pluggy
pre-commit
py
pyglet
PyJWT
pyparsing
PyPDF2
PyQt5
PyQt5-sip
PySocks
pytz
PyYAML
requests
requests-oauthlib
seaborn
six
sklearn
soupsieve
toml
tox
translate
translator
tweepy
twilio
urllib3
virtualenv
zipp
